<?xml version="1.0"?>
<launch>
    <include file="$(find rosserial_server)/launch/socket.launch"/>
    <node name="console" pkg="rc" type="console.py"/>
    <node name="goto" pkg="rc" type="goto.py"/>
    <node name="gyro" pkg="rc" type="gyro.py"/>
    <node name="omni" pkg="rc" type="omni.py"/>
    <node name="position" pkg="rc" type="position.py"/>
    <node name="watchdog" pkg="rc" type="watchdog.py"/>
</launch>
